// This is how you create variables for all colors
// @import "./variables";
$salmon : #FCB5AC;
$salmonLight : #f7ccc6;
$mint: #B5E5CF;
$TealGreen: #3D5B59;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // overflow: hidden;
}

@mixin flexCenter {
display: flex;
justify-content:center;
align-items: center
}


.container {
    @include flexCenter();
    width: 100vw;
    height: 100vh;
    
 

    
    .game-box {
        border: solid yellow;
            @include flexCenter();
        position: relative;
        width: 50%;
        height: 80%;
       margin: 0.5rem 2rem;

            #bg {
                
                width: 100%;
                height: 100%;
                
            }
            
            #mos {
                position: absolute;
                width: 40px;
                height: 40px;
                cursor: pointer;
              
            }
            #blast{
                position: absolute;
                width: 70px;
                height: 70px;
                display: none;
              cursor: pointer;
                
            }
            

    }

    button {
        background-color: $TealGreen;
        border: none;
        margin-top: 2rem;
        padding: 0.5rem 2rem;
        color: $salmon;
        font-weight: 700;

        &:hover {
            background-color: $salmonLight;
            border: 2px solid $TealGreen;
            color: $TealGreen;
        }

    }

}

.game-info {
    @include flexCenter();

    font-family: 'Permanent Marker', cursive;
    width: 50%;
    height: 80%;
   

    .box {
        // border: solid blue;
        width: 70%;
        margin-bottom: 5rem;

        .countDown {

            h2 {
                font-family: fantasy;
                ;
                font-size: 2rem;

                &.active {
                    font-size: 2rem;
                    font-family: fantasy;
                }
            }

        }

    }

}

h1 {
    font-size: 3rem;
}

span {
    color: red;
}



.countDown {
    margin-top: 2rem;
}



// media queries++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
